/* style.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: white;
}
h3{
  margin-bottom: 15px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 70px;
  height: auto;
}

.input {
  margin-bottom: 10px;
}

.codes {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d0d0;
  color: #414a67;
  outline: none;
  font-weight: 400;
  border-radius: 5px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #DC143C;
  text-decoration: none;
  color: #ffffff;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px 15px rgba(0,0,0,0.23);
  position: relative;
  overflow: hidden;
}
.submit-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.submit-button:hover::after {
  opacity: 1;
}

/* modal.css */
.modal, .modal-2, .modal-3, .modal-4, .modal-5, .modal-6, .modal-7, .modal-8, .modal-9, .modal-10, .modal-11, .modal-12{
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
}
.modal.show, .modal-2.show, .modal-3.show, .modal-4.show, .modal-5.show, .modal-6.show, .modal-7.show, .modal-8.show, .modal-9.show, .modal-10.show, .modal-11.show, .modal-12.show{
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background-color: #fff;
  border-radius: 6px;
  margin: 10% auto;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  font-family: Arial Sans-Serif;
}
.close{
  margin-top: 20px;
}
.close-btn, .close-btn2, .close-btn3, .close-btn4, .close-btn5, .close-btn6, .close-btn7, .close-btn8, .close-btn9, .close-btn10, .close-btn11, .close-btn12{
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: 2px solid;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}